.grid-row .data-row div[data-fieldtype='Date'] .form-group.frappe-control{
    display: inline-flex;
}
.grid-body .data-row:not(.editable-row) .grid-static-col[data-fieldtype='Date']{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.islamic_datepicker_multi{
	position: relative;
}
.isd_switch_btn{
	position: absolute;
    right: 4px;
    top: 0px;
    cursor: pointer;
    z-index: 3;
}
.isd_switch_btn::before{
	font: normal normal normal 14px / 1 FontAwesome;
    content: "\f079";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}
.islamic_date-conversion{
    font-size: 14px;
}
[dir="ltr"] .isd_switch_btn {
    left: auto !important;
    right: 4px !important;
  }
  [dir="rtl"] .isd_switch_btn {
    right: auto !important;
    left: 4px !important;
  }
/*.datatable .dt-row .dt-cell .dt-cell__content > br{
    content: "\00a0";
    padding-right: 5px;
}*/
